install this libraries-
streamlit
pdfplumber
pandas
numpy
pdf2image
paddleocr
paddlepaddle
pillow
opencv-python
regex

command-pip install streamlit pdfplumber pandas numpy pdf2image paddleocr paddlepaddle pillow opencv-python regex

////////////////////////////////////////////

command to run-streamlit run final.py
